{
	email {$APRP_CONTACT_EMAIL}
}

(common_aprp) {
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}
	@socket path /socket.io/*
	reverse_proxy @socket websocket:9000
	reverse_proxy backend:8000
}

{$APRP_BACKEND_HOST} {
	import common_aprp
}
