# APRP mirror stack environment example.
APRP_GALERA_NODE=db-mirror
APRP_GALERA_CLUSTER_NAME=aprp_galera
APRP_GALERA_CLUSTER_MEMBERS=kuche.aprp.store,kotka.aprp.store
APRP_GALERA_PRIMARY_HOST=kuche.aprp.store
APRP_GALERA_FORCE_BOOTSTRAP=0

DB_ROOT_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
